.nav-link {
  color: white;
  margin-left: 50px;
}

.navbar-brand {
  font-size: 1.5em;
  display: flex;
}

ul.nav.justify-content-end {
  margin-right: 50px;
}

.container-vv{
 background-image: url('../images//biggieBackground.jpg');
 background-repeat:round;
 background-size:cover;
 opacity: 0.8;
 height: 85vh;
 position: relative;
}

#biggie {
  margin-left: 0.9vw;
  color: white;
}

.vinil {
  margin-top: -0.1vh;
}

.nav-item > a:hover {
  color: #e3d8c3;

}

.works {
  padding-top: 5vh;
  background-color: #e3d8c3;
}

.works h1 {
  font-size: 4em;
  text-align: center;
  padding-bottom: 10vh;
  color: rgb(143, 77, 39);
}

.row {
  margin-left: 5vw;
  margin-right: 5vw;
}

.disc-text {
  width: 70%;
  text-align: center;
}

.disc-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vh;

}

.disc-image {
  height: 300px;
  width: 300px;
  padding: 0;
  border-radius: 8px;
  background-color: #e3d8c3;
}

.btn {
  background-color:rgb(143, 77, 39);
  border-color:rgb(143, 77, 39);
  box-shadow: rgba(255, 208, 0, 0.801) 2px 2px;
}
