<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/styleAbout.css" />
    <title>Document</title>
  </head>
  <body>
    <nav
      class="navbar navbar-light navbar-dark"
      style="background-color: #523817"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/views/index.html">
          <div class="vinil">
            <img
              src="../images/d6a0fd5-a8219e57-a188-4e3c-b5d7-0953604d957b.png"
              height="30"
              width="30"
              alt=""
            />
          </div>
          <span id="biggie">Rap Solo</span>
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/views/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/works.html">Works</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="description">
      <div class="description-title">
        <h2>Kase O</h2>
        <img src="/images/kaseO.jpg" class="img-fluid" alt="Violadores del Verso">
      </div>
      <div class="description-text">
        <p class="p1">
          Javier Ibarra Ramos (Zaragoza, España, 1 de marzo de 1980),​ más conocido por su nombre artístico Kase.O, 
          es un rapero, productor y compositor español, miembro del grupo de rap español Violadores del Verso junto a 
          los también raperos SHO-HAI y Lírico, y el DJ R de Rumba. <br><br>
        </p>
        <p class="p2">
          Es considerado habitualmente como uno de los raperos más conocidos de habla castellana, por la comunidad
          y los medios.​ Lleva activo desde 1993 hasta la actualidad, siendo un icono y referente del rap no comercial 
          español y de la música en general. <br><br>
        </p>
        <p class="p3">
          Kase.O a lo largo de su carrera, llegó a lanzar hasta siete álbumes de estudio 
          con Violadores del Verso desde 1998 hasta 2006.
        </p>

        <div class="lirico">
          <img src="/images/lirico.jpg" class="img-fluid" alt="Violadores del Verso">
        <h2>Lirico</h2>
        </div>
        <div class="lirico-text">
          <p class="p21">
            David Gilaberte Miguel (Zaragoza, Aragón, 25 de diciembre de 1976), más conocido por su nombre artístico Lírico, 
            es un rapero español, integrante del grupo de rap Violadores del Verso.
          </p>
          <p class="p22">
            Lírico nació en Zaragoza, en el barrio del Actur el 25 de diciembre de<br><br> 1976. Dio sus primeros pasos en el hip-hop en 
            1991 junto a Brutal (DJ), ambos formaban el grupo Gangsta Squad donde era conocido por ahora su segundo apodo, Gila; 
            con el que grabaron la maqueta ...Es tan solo un aviso. En este disco se encuentra la primera colaboración con Kase.O, 
            Hate (también conocido como Sho-Hai) y R de Rumba, haciéndose llamar Violadores del Verso. En Gangsta Squad su estilo 
            era muy tenebroso y carecían de respeto. En 1998 Gangsta Squad, Bufank y Kase.O se fusionan y forman Violadores del Verso.
          </p>
          <p class="p23">
            Actualmente se encuentra a la espera de juicio en la cárcel de Castellón I en la que ingresó el 4 de agosto de 2019 
            de manera preventiva tras un altercado en el cual la policía, tras una llamada del propio Lírico, 
            encontró a una fan de 27 años herida en una zanja a pocos metros de él. Después de varios encontronazos 
            con algunos compañeros de la prisión, David fue enviado a un centro psiquiátrico en el cual estuvo internado 20 días. 
            Posteriormente regresó a la prisión de Castellón I en régimen de prevención de suicidios.
          </p>
        </div>
        <div class="shohai">
          <h2>Sho Hai</h2>
          <img src="../images/shohai.jpg" alt="Sho-Hai">
        </div>
        <div class="shohai-text">
          <p class="p31">
            Sergio Rodríguez Fernández (Zaragoza, Aragón, 19 de febrero de 1976), 
            más conocido por su nombre artístico SHO-HAI, es un rapero español, miembro del grupo Violadores del Verso.
          </p>
          <p class="p32">
            Originario del distrito Delicias, Sergio Rodríguez Fernández es el hermano menor<br> del también rapero Rebel. 
            Sus influencias por el hip hop comenzaron en 1984 gracias a su hermano mayor.
            Los comienzos de Sergio Rodríguez Fernández también conocido como Sho-Hai en el mundo del rap/hip hop se 
            remontan a la década de los años 90, cuando a la edad de 14/15 años demuestra maneras como cantante.
          </p>
          <p class="p33">
            En 1996, junto a R de Rumba y Juez, forman el grupo Bufank y graban dos maquetas. 
            La primera fue titulada como «Bufank» (el nombre del grupo), que incluía el tema La historia interminable. 
            Un año más tarde, «Ciego de sábado noche» sería su segundo y último álbum hasta la fecha. Ese mismo año Kase.O, 
            Lírico, R de Rumba y SHO-HAI forman el grupo Violadores del Verso. Dicho grupo alcanzaría una fama a nivel nacional 
            por su estilo propio, y además de eso, debido a la fama alcanzada, se conocería a Zaragoza 
            como la meca del hip hop español.
          </p>
        </div>
      </div>
    </div>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
