<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/style.css">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light navbar-dark" style="background-color: #e3d8c3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/views/index.html">
        <div class="vinil">
          <img src="../images/d6a0fd5-a8219e57-a188-4e3c-b5d7-0953604d957b.png" height="30" width="30" alt="">
        </div>
        <span id="biggie">Rap Solo</span>
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/works.html">Works</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="home">
    <div class="container-vv">
    </div>
    <div class="home-text">
      <h1>Violadores del Verso</h1>
    </div>
  </div>
  <div class="description">
    <h2>Most Historic Spanish Rap Group Ever</h2>
    <p>
      Violadores del Verso (Spanish: Lyrical Molesters or Verse Rapists), also known as Doble V, are a rap music crew from
      Zaragoza, Spain. They used the name Doble V[1] but were forced to return to their original long name due to legal issues
      (Doble V is also the trademark of a Spanish whiskey). The band members are MCs Kase.O, Lírico, Sho-Hai (also known as
      Hate) and DJ R de Rumba.
      
      Violadores del Verso won the gold record for Vivir para contarlo (2006), and together with SFDK they are the only
      Spanish rap groups to have won a gold record to date.[2] Violadores del Verso are often considered the greatest Spanish
      hip hop group in history and one of the most influential Spanish-speaking hip hop artists of all time.
      
      The group has been on a long pause since 2010 as they wanted to grow separate careers and be creators on their own. 
    </p>
  </div>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>