<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style/styleWorks.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-light navbar-dark"
      style="background-color: #523817"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/views/index.html">
          <div class="vinil">
            <img
              src="../images/d6a0fd5-a8219e57-a188-4e3c-b5d7-0953604d957b.png"
              height="30"
              width="30"
              alt=""
            />
          </div>
          <span id="biggie">Rap Solo</span>
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/views/index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/works.html">Works</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="works">
      <h1>Violadores del Verso Discography</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="disc">
            <div class="disc-body">
              <img
                src="/images/geniosDisco.jpg"
                class="img-fluid img-thumbnail disc-image"
                alt="genios Disco"
              />
              <h5 class="disc-title">Genios</h5>
              <p class="disc-text">Year: 1999<br />Songs: 16</p>
              <a
                href="https://open.spotify.com/album/6vITZwKghkUpzfi33lIa45"
                class="btn btn-primary"
                >Listen Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="disc">
            <div class="disc-body">
              <img
                src="/images/atrasDisco.jpg"
                class="img-fluid img-thumbnail disc-image"
                alt="genios Disco"
              />
              <h5 class="disc-title">Atras</h5>
              <p class="disc-text">Year: 2000<br />Songs: 6</p>
              <a
                href="https://open.spotify.com/album/72l3OxYmGEaazYRNXskAVF"
                class="btn btn-primary"
                >Listen Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="disc">
            <div class="disc-body">
              <img
                src="/images/viciosYVirtudesDisco.jpg"
                class="img-fluid img-thumbnail disc-image"
                alt="genios Disco"
              />
              <h5 class="disc-title">Vicios Y Virtudes</h5>
              <p class="disc-text">Year: 2001<br />Songs: 15</p>
              <a
                href="https://open.spotify.com/album/6SaShuiobMOc9mIiSmP2kY"
                class="btn btn-primary"
                >Listen Now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="disc">
            <div class="disc-body">
              <img
                src="/images/tuEresAlguienDisco.jpg"
                class="img-fluid img-thumbnail disc-image"
                alt="genios Disco"
              />
              <h5 class="disc-title">Tú Eres Alguien / Bombo Clap</h5>
              <p class="disc-text">Year: 2003<br />Songs: 13</p>
              <a
                href="https://open.spotify.com/album/70TsdMobcVIvje64aiX4Oc"
                class="btn btn-primary"
                >Listen Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="disc">
            <div class="disc-body">
              <img
                src="/images/vivirParaContarloDisco.jpg"
                class="img-fluid img-thumbnail disc-image"
                alt="genios Disco"
              />
              <h5 class="disc-title">Vivir Para Contarlo</h5>
              <p class="disc-text">Year: 2006<br />Songs: 14</p>
              <a
                href="https://open.spotify.com/album/6LeLj7gigY7PBgPVZ6P25f"
                class="btn btn-primary"
                >Listen Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="disc">
            <div class="disc-body">
              <img
                src="/images/giraDisco.jpg"
                class="img-fluid img-thumbnail disc-image"
                alt="genios Disco"
              />
              <h5 class="disc-title">Gira 06/07 Presente</h5>
              <p class="disc-text">Year: 2007<br />Songs: 14</p>
              <a
                href="https://open.spotify.com/album/5LWXJVgZPckjjBWj2ruR5q"
                class="btn btn-primary"
                >Listen Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
